
* {
    box-sizing: border-box;
}

body {
    font-size: min(100vw, 880px);
}

#root {
    font-size: calc(8px / 880px * 100%);
}

.page-wrapper {
    height: 100%;
    flex-grow: 1;
    padding: 0 30px;
}